<div class = 'article_cont'>
	<%= raw @article.body %>
</div>

<div class = 'article_additional_info'>
	<%= link_to "Глянуть комментарии (#{@article.comment_counter})", shiny_comments_path(article_id: @article.id) %>
	<div class = 'article_inf_elem'>
	  Просмотров: <%= @article.view_counter %>
	</div>
	<div class = 'article_inf_elem'>
	  Обновлён: <%= @article.updated_at.strftime('%F') %>
	</div>
</div>