<div class = 'article_cont'>
	<h2>Гайд на героя Phantom Lancer</h2>

	<h3>Что нужно понимать в первую очередь</h3>

	<b>Phantom Lancer</b> далее просто Фантом это:
	<ol>
		<li><b>Кэрри</b> ближнего боя с неплохим пуш потенциалом</li>
		<li><b>Сила и слабость</b> Фантома в его иллюзиях</li>
		<li>Имеет отличный <b>эскейп механизм</b>. Забавно, но если немного подумать, то все способности Фантома прямо или косвенно помогают ему в побеге</li>
		<li>Кулдауны скиллов Фантома достаточно <b>коротки</b>, что позволяет <b>в любой момент</b> ввязаться в драку в полной боевой готовности (Разумность участия в той или иной драке это уже другой вопрос)</li>
	</ol>
	
	<hr>

	<h3>Скиллы героя и их механика</h3>

	<div class = 'skill_cont'>
		<div class ='skill_pic'>
		  <img src = '/assets/skill_picture/phantom_lancer_skill_1.png'>	
		</div>
	    <b>Spirit lance.</b> Наш нюк с магическим уроном и замедлением. Добить, догнать, убежать, а ещё с его помощью можно эффектно добить врага, подробнее об этом ниже в разделе "Трюки". 
	</div>

	<hr>

	<div class = 'skill_cont'>
	<div class ='skill_pic'>
	  <img src = '/assets/skill_picture/phantom_lancer_skill_2.png'>	
	</div>
	<b>Doppelganger.</b> Фантом на секунду исчезает с поля боя вместе со своими иллюзиями, находящимися в радиусе дальности сбора иллюзий, после чего появляется с ними и ещё двумя иллюзями в выбраной области. Фантом и иллюзии рандомно распределяются по этой области. Универсальный скилл с ним можно:
		<ul>
			<li><b>Увернуться</b> от летящего в вас заклинания, например, от стана Свена или Венги.</li>
			<li><b>Снимать</b> с себя дебаффы. Перечень снимаемых дебаффов указан ниже.</li>
			<li>Пойти в атаку. Только не надо начинать её именно с этого скилла, ведь за ту секунду пока вы будите отсутствовать, скастовав второй скилл, враг может значительно сместиться или, вдруг, у него как раз за эту секунду откатится его блинк даггер. Правильнее будет сначала кинуть во врага копьё и только потом использовать второй скилл.</li>
			<li><b>Убежать.</b> В доте не редки ситуации, когда нападение вашей команды идёт не по плану, в таких ситуациях второй скилл может помочь вам уйти. При побегах от команды соперников, по возможности пытайтесь использовать переходы с возвышенности на низменность и наоборот это значительно повысит ваши шансы на удачный побег.</li>
			<li><b>Обмануть.</b> После каста способности появляются две иллюзии бледно оранжевая и ярко жёлтая. Нам интересна жёлтая иллюзия ведь она получает ровно такой же урон как и сам Фантом, но не наносит урона вообще. Тут начинаются мини mind games вы можете пустить Фантома и ярко жёлтую иллюзию в разных направлениях, можете направить их в одном направлении и секунду погодя развести их в разные стороны, можете вообще оставить стоять Фантома на месте, а жёлтой иллюзией начать убегать. При этом можно оранжевой иллюзией умудриться постопить одного из врагов. Вариантов разводов на иллюзии можно придумать множество, не ограничивайте свою фантазию.</li>
		</ul>
  </div>

	<hr>

	<div class = 'skill_cont'>
		<div class ='skill_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_3.png">	
		</div>
		<b>Phantom rush.</b> Благодаря этому скиллу у Фантома мало проблем с тем, чтобы нагнать жертву. Казалось бы что тут говорить - обычный разгон, но это не просто разгон, это раш Фантома и необоходимо понимать следующие моменты:
		<ul>
			<li>Начиная свой разбег вы <b>провацируете</b> врага на какие-либо действия. Например, вы стоите с Мираной и чтобы истощить её запасы маны, вы постоянно рашите её, Мирана понимает, что ей размениваться ударами с вами невыгодно и упрыгивает на своём третьем скилле, тратя свою ману, Фантом же при этом не тратит ману вообще. Естественно такие провакации надо делать с умом, следите за тем, чтобы не отхватить падач от крипов.</li>
			<li>Заметьте, что во время раша скорость фантома просто <b>дикая - 800! Attention!</b></li>
			<li>Использование предметов <b>останавливает</b> раш Фантома. Например, вы купили
				<div class ='small_pic'>
				  <img src = "/assets/item_picture/abyssal_blade.jpg">	
				</div>
				, увидели пушачего Тинкера сказали своей тиме "го го го отправим в таверну его!" и вот вы уже на расстояние около 1200, 1000, начинается разгон, и вот вы уже в на расстоянии 600 от него, направляете активную способность скилл башера на врага! ... Но что такое? Почему Фантом прекратил разгон? Всё потому, что любое использование предметов прерывает разгон Фантома, да и вообще любое ваше действие прерывает раш кроме повторного клика на цель разгона.</li>
			<li>Способность можно использовать <b>только на вражеских юнитах или нейтралах</b>. Иногда это можно использовать, чтобы убежать. Ситуация: вы убегаете и видите впереди вражеских крипов или вражескую башню, <b>ни секунды не сомневаясь</b>, вы кликаете по ним правой кнопкой мыши, максимально сближаетесь с целью и продолжайте побег.</li>
		</ul>
	</div>

	<hr>

	<div class = 'skill_cont'>
		<div class ='small_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_4.png">	
		</div>
	  <b>Juxtapose.</b> С каждым ударом по вражеским юнитам (кроме строений) или нейтральным крипам у Фантома есть шанс создать рядом с собой свою иллюзию. Обратите внимание, что иллюзии появляющиеся от ульты по части урона немного слабее тех, что появляются с первого и второго скилла. Поэтому, когда дерётесь старайтесь делать так чтобы иллюзии от первого и второго скилла участвовали в драке.
	</div>

	<hr>

	<h3>Стадия пика</h3>

	<div class = 'article_text_block'>
		Фантом герой ни для первых пиков. Постарайтесь по возможности пикать последним или предпоследним. Уважайте свою команду и предварительно пишите в чат, что вы хотите пикнуть последним. На стадии пика <b>важно обратить внимание</b> на следующие вещи:
	</div>

	<ul>
		<li>Аое урон противника</li>
		<li>Наличие хард кэрри, который в лейте будет сильнее фантома</li>
		<li>Контрпики</li>
	</ul>

	<div class = 'article_text_block'>
		<b>Аое урон.</b> Чем больше этого самого аое урона, тем менее эффективным будет пикнуть Фантома. Нужно понимать, что наличие аое урона Фантома контрит не жёстко, его наличии лишь отодвигает его выход на поле боя и заставляет помимо предметов на урон приобрести ещё и предметы на жирность. Также берите во внимание, что от любого аое заклинания вы можете увернуться при помощи
		<div class ='small_pic'>
		  <img src = "/assets/skill_picture/phantom_lancer_skill_2.png">	
		</div>
		.Когда вы впервые увернётесь при помощи него, например, от 
		<div class ='small_pic'>
		  <img src = "/assets/skill_picture/tidehunter_skill_4.png">	
		</div> 
		, испытаете приятные эмоции.
	</div>

	<div class = 'article_text_block'>
		<b>Наличие хард кэрри.</b> Фантом хороший кэрри, но он не хард кэрри. Если видите, что противники взяли, например, Тини отдавайте себе отчёт, что, пикая при этом Фантома, уводить игру в лейт вам невыгодно.
	</div>
		
	<div class = 'article_text_block'>
		<b>Контрпики.</b> Два самых явных контрпика для Фантома это Свен и Шейкер. Также Фантом крайне некомфортно чувствует себя с теми на ком хорошо сидит батлфьюри. 
	</div>

	<hr>

  <h3>Ранняя стадия игры</h3>

  <hr>
	
	<h3>Конец ранней стадии и начало мид гейма</h3>
  
  <hr>

  <h3>Поздняя стадия игры</h3>
  
  <hr>

  <h3>Кого взять c собой на линию?</h3>

</div>

<div class = 'article_additional_info'>
	<%= link_to 'Посмотреть комментарии (26)', shiny_comments_path(article_id: @article.id) %>
	<div class = 'article_inf_elem'>
	  Просмотров: 14
	</div>
	<div class = 'article_inf_elem'>
	  Обновлён: 01.01.2016
	</div>
</div>