/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

body {
	font-family: 'PT Sans', sans-serif;
	/*background: #ECE4F0;*/
	background: #fff;
	color: #777;
}

.top_cont {
  background: #61267E;
  height: 140px;
  position: relative;
}

.login_cont {
  position: absolute;
  left: 50%;
	right: 0px;
	margin-top: 40px;
	margin-left: 410px;
}

.login_cont a{
	font-size: 16px;
  color: #fff;	
}

.mid_cont {
	position: absolute;
	left: 50%;
	margin-left: -490px;
	margin-top: 20px;
  width: 980px;
  min-height: 800px;
}

.content_cont {
  display: inline-block;
  float: left;
  width: 700px;
  margin-right: 36px;
}

.sidebar {
  display: inline-block;
  background: #61267E;
  margin-top: 15px;	
  width: 240px;	
  height: 300px;
}

.menu_cont {
	background: #985EB5;
  width: 980px;
  height: 50px;
  position: absolute;
	left: 50%;
	bottom: 0px;
	margin-left: -490px;
	border-top-left-radius: 8px;   
	border-top-right-radius: 8px;   
}

.menu_elem {
	width: 176px;
	height: 50px;
	display: inline-block;
	margin-left: 40px;
	font-size: 22px;
	border-right: 1px solid #61267E;
}

.menu_elem p{
	color: white;
}

.menu_elem:hover p {
	color: #61226F;
}

.chosen_mark {
	display: none;
	border-radius: 45px;
	width:70px;
	height: 70px;
	margin-left: 90px;
	margin-top: -25px;
	background: #fff;
}

#menu_elem_1:hover > #chosen_mark_1 {
	display: block;
}
#menu_elem_2:hover > #chosen_mark_2 {
	display: block;
}
#menu_elem_3:hover > #chosen_mark_3 {
	display: block;
}

.devise_custom_cont {
	font-size: 14px;
	width: 445px;
}

.devise_custom_field {
	margin-top: 10px;
}

.devise_custom_btn button {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	height: 30px;
	width: 120px;
	border-radius: 12px;
  background: #61267E;
  margin-top: 10px;
  margin-left: 235px;
}

.devise_custom_btn button:not(.disabled):hover {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	background: #985EB5;
}

.error_custom_cont {
	background: #985EB5;
	border: 2px solid #61267E;
	border-radius: 8px;
	color: #fff;
	padding: 7px;
}