/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

body {
	font-family: 'PT Sans', sans-serif;
	color: #595659;
	margin: 0;
	padding: 0;
/*	position: relative;
	display: block;*/
}

h2 {
	font-size: 32px;
	color: #363436;	
}

h3 {
	font-size: 22px;
	color: #5E5E5E;
}

.top_cont {
	width: 100%;
	height: 140px;
	background: #61267E;
  margin:0 auto;
	display: block;
}

.mid_cont {
	width: 1170px;
	min-height: 900px;	
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 87px;
}

.bot_cont {
	height: 140px;
	background: #61267E;	
}

.bot_cont a {
	display: block;
	margin-left: 12px;
	font-size: 16px;
	color: #fff;
}

.menu_cont {
	width: 980px;
	height: 48px;
  background: #985EB5;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: 0 auto;
}

.menu_cont a {
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	margin-left: 18px;
}

.menu_cont a :hover {
	color: #61267E;
}

.menu_cont_elem {
	display: inline-block;
  width: 213px;
  height: 48px;
  border-right: 1px solid #61267E;
}

.content_cont {
	display: inline-block;
	width: 700px;
	min-height: 900px;
}

.left_side_cont {
	width: 166px;
	display: inline-block;
	vertical-align: top;
  margin-right: 14px;
  min-height: 300px;
}

.right_side_cont {
	display: inline-block;
	vertical-align: top;
	width: 270px;
	min-height: 400px;
  margin-left: 6px;
}

.parent_login_cont {
	width: 270px;
	height: 40px;
	background: #985EB5;
	margin-bottom: 20px;
	border-radius: 12px;
}

.login_cont {
	padding-top: 8px;
}

.login_cont a{
	color: #fff;
	font-size: 16px;
	margin-left: 22px;
}

.right_banner {
	height: 360px;
	width: 270px;
	background: #61267E;
	border-radius: 12px;
}

/* Devise */

.devise_custom_cont {
	font-size: 14px;
	width: 445px;
}

.devise_custom_field {
	margin-top: 10px;
}

.devise_custom_btn button {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	height: 30px;
	width: 120px;
	border-radius: 12px;
  background: #61267E;
}

.devise_custom_mrg_left {
	margin-left: 235px; 
}

.devise_custom_btn button:not(.disabled):hover {
	background: #985EB5;
}