.article_block {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
	vertical-align: top;
  color: #363436; 
	display: inline-block;
	width: 320px;
	min-height: 360px;
	opacity: 0.6;
}

.article_block:hover {
	opacity: 1.0;
}

.article_pic img {
  border-radius: 12px;
	width: 320px;
	height: 198px;
}

.article_title {
	font-size: 20px;
	margin-top: 8px;
	margin-left: 5px;
}

.article_preview {
	margin-top: 8px;
	margin-left: 5px;
	font-size: 14px;
  color: #5E5E5E; 
}

.article_preview a {
	font-size: 12px;
	color: #5E5E5E;
  text-decoration: none;
}

.comment_and_view_pic {
	display: inline-block;
	font-size: 14px;
	margin-left: 6px;
}

.comment_and_view_pic img {
	width: 20px;
}

.article_cont {
	font-size: 16px;
	min-height: 600px;
	width: 700px;
	margin-bottom: 40px;
}

.skill_cont {
  min-height: 88px;
}

.skill_pic img {
  border-radius: 8px;
  float: left; 
  height: 62px;
	margin-top: 6px;
  margin-right: 9px;
  width: 62px;
}

.article_cont hr {
	margin-bottom: 20px;
	margin-top: 10px;
}

.small_pic {
	display: inline-block;
}

.small_pic img {
	width: 25px;
	border-radius: 3px;
}

.small_skill_pic {
	display: inline-block;
}

.small_skill_pic img {
	width: 18px;
	border-radius: 3px;
}

.small_hero_pic {
	display: inline-block;
}

.small_hero_pic img {
	width: 45px;
	border-radius: 3px;	
}

.item_build_cont {
	width: 177px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 80px;
}

.norm_item_pic {
  display: inline-block;
}

.norm_item_pic img{
	width: 56px;
	border-radius: 5px;	
}

.article_text_block {
	margin-bottom: 16px;
}

.article_additional_info {
	float: right;
	margin-bottom: 40px;
}

.article_additional_info a {
	font-size: 16px;
}

.article_inf_elem {
	font-size: 12px;
	display: block;
}

.side_parent_cont {
	margin-bottom: 10px;
}

.side_cont {
	vertical-align: top;
	width: 335px;
	display: inline-block;
}

.side_cont_mrg_r {
	border-left: 1px solid #9a9a9a;
	padding-left: 15px;
}

.skill_build_cont {
	margin-bottom: 16px;
}

.skill_build_elem {
	display: inline-block;
	text-align: center;
	font-weight: bold;
}

.skill_build_elem img {
	width: 39px;
	border-radius: 5px;
}

.paginate_cont {
	height: 28px;
}

.pagination_elem {
	display: inline-block;
	background: #61267E;
	border-radius: 5px;
	height: 28px;
}

.pagination_elem:hover {
  background: #985EB5;	
}

.shiny_pagination {
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
}

.shiny_pagination a{
	color: #FFFFFF;
	text-decoration: none; 
}

.pagination_page {
	width: 26px;
}

.pagination_page.current{
  background: #985EB5;	
}

.pagination_page a{
	text-decoration: underline;
}

.pagination_page a:hover{
	text-decoration: none;
}

.pagination_prev {
	width: 52px;
}

.pagination_next {
	width: 48px;
}

.hero_attr_cont {
	display: inline-block;
}

.article_pic_on_show_page {
	display: inline-block;
}

.article_pic_on_show_page img{
	border-radius: 12px;
	width: 320px;
	height: 198px;
}

.hero_attr_cont_with_name {
	vertical-align: top;
	font-weight: bold;
	display: inline-block;
	margin-left: 12px;
}

.hero_attr_cont_with_value {
	margin-left: 20px;
	vertical-align: top;
	display: inline-block;
}

.hero_attr_elem {
	margin-bottom: 4px;
}

.hero_inf_cont {
	display: inline-block;
	vertical-align: top;
}

.base_attr_elem {
	margin-left: 12px;
	display: inline-block;
}

.base_attr_elem_value {
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
  margin-top: 3px;
  margin-left: 3px;
}

.base_attr_cont {
  margin-bottom: 5px;
}

.hero_roles {
	font-size: 18px;
	font-style: oblique;
}

.hero_img_in_pick {
	display: inline-block;
}

.hero_img_in_pick img {
	width: 86px;
	border-radius: 5px;
}

.pick_divider {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
}

.pick_formula {
	margin-bottom: 10px;
}

.text_to_center {
	text-align: center;
	margin-bottom: 16px;
}

.img_to_center {
	text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;  
}

.img_to_center img {
	width: 600px;
	border-radius: 12px;
}

/*Guides*/

.guides_cont {
	margin-top: 10px;
}

.guide_elem {
	display: inline-block;
}

.guide_elem img {
	width: 120px;
	border-radius: 8px;
}

.main_letter {
	font-size: 18px;
	color: #595659;
	text-decoration: underline;
	margin-top: 10px;
}

.guide_hero_name {
	font-size: 12px;
	text-decoration: none;
	color: #595659;
}
